@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: 'Roboto';
}
.top-names{
  display: flex;
  margin-top: 5px;
  margin-bottom: 20px;
}
.S-Button{
  height: 70px;
  width: 70px;
  border-radius: 70px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  background-color: #c7d2fe;
  color: #7c3aed;
  cursor: pointer;
}
.name{
  margin-left: 20px;
  color:  #d4d2db;
  font-size: 25px;
  font-weight: 400;
}